altgraph==0.17
appdirs==1.4.4
chardet==3.0.4
distlib==0.3.1
filelock==3.0.12
future==0.18.2
idna==2.10
importlib-metadata==2.0.0
Naked==0.1.31
pefile==2019.4.18
pipenv==2020.8.13
pycryptodome==3.9.8
pycryptodomex==3.9.8
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pywin32-ctypes==0.2.0
pip~=20.2.4
PyYAML~=5.3.1
requests~=2.25.0
shellescape~=3.8.1
tinyec~=0.3.1
certifi~=2020.11.8
urllib3~=1.26.2
setuptools~=50.3.2
crypto~=1.4.1
six==1.15.0
virtualenv==20.0.35
virtualenv-clone==0.5.4
zipp==3.3.1

